<%- include ('../nav/header') %>
	<!-- Sidebar Page -->
	<%- include('../nav/sidebar') %>
		<!--Loading Images-->
		<div class="preload loading_position">
			<img src="assets/loading/Hourglass.gif">
		</div>

		<div id="overlay" class="overlayaligns">
			<button type="button" class="btn btn-gradient-primary btn-rounded btn-fw m-b-20" id="addbutton"
				onclick="addContractor(1)">New</button>
			<button type="button" class="btn btn-gradient-danger btn-fw f-r b-r-25 m-b-20 dis-none" id="backbutton"
				onclick="addContractor(2)">Back</button>
			<button type="button" class="col-2 btn btn-info f-r b-r-25" onclick="ExportToExcel('tableid')"
				id="uploadbutton">
				<i class="mdi mdi-upload btn-icon-prepend"></i> Excel </button>
			<br />
			<!--Upload Excel-->
			<div class="card cardalign" id="excel_div">
				<div class="card-body cardinside">
					<a href="/contractor_master_excell_download">Download Template</a>
					<section id="upload-data-panel" class="sectionaligns">
						<form id="upload-form" action="/excel_upload/Contractor_csv" method="post"
							enctype="multipart/form-data">
							<fieldset>
								<legend>Upload Data</legend>
								<div class="uploadalign">
									<!-- The name here is important, and will be used later to reference the data -->
									<input type="file" name="csvdata" accept="text/cvs">
								</div>
								<div class="uploadbtnalign">
									<input type="submit" class="btn btn-gradient-danger btn-icon-text" value="Upload" />
								</div>
							</fieldset>
						</form>
					</section>
				</div>
			</div>
			<br />
			<div class="col-lg-12 grid-margin stretch-card" id="table">
				<div class="card tablecard">
					<div class="card-body">
						<h4 class="card-title titlealign">Contractor Master</h4>
						<!--Search Filter-->
						<div class="form-group">
							<input type="search" placeholder="Search Here" class="form-control search-input searchalign"
								data-table="customers-list" />
						</div>
						<table class="table table-striped mt32 customers-list">
							<thead>
								<tr>
									<th>CCODE</th>
									<th>CNAME</th>
									<th>PREFIXCODE</th>
									<th>STATUS</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>

								<% data.forEach(function(contract){ %>
									<tr>
										<td class="py-1">
											<%= contract.contractor_code %>
										</td>
										<td>
											<%= contract.contractor_name %>
										</td>
										<td>
											<%= contract.prefix_code %>
										</td>
										<% if(contract.status=='1' ){ status="Active" ; }else if(contract.status=='2' ){
											status="InActive" ; }else{ status="NULL" ; } %>
											<td>
												<label class="badge badge-danger">
													<%= status %>
												</label>
											</td>

											<td>
												<a href="contractor_edit/<%= contract.id %>"
													class="btn btn-sm btn-primary">Edit</a>
											</td>
									</tr>

									<% }) %>
							</tbody>
						</table>
						<br /><br />
						<!--Excel Download Table-->
						<table class="table table-striped mt32 customers-list dis-none" id="tableid">
							<thead>
								<tr>
									<th>contractor_code</th>
									<th>contractor_name</th>
									<th>address</th>
									<th>prefix_code</th>
									<th>proprietor</th>
									<th>owner</th>
									<th>md</th>
									<th>partner</th>
									<th>contractor_mail</th>
									<th>ESI_Code_No</th>
									<th>PF_Code_No</th>
									<th>Contractor_PAN_No</th>
									<th>Contractor_LIN</th>
									<th>Mobile_No</th>
									<th>Name_of_person</th>
									<th>compliance_Mail_id</th>
									<th>hr_department</th>
									<th>sign</th>
									<th>status</th>
									<th>created_by</th>
									<th>created_on</th>
									<th>modified_by</th>
									<th>modified_on</th>
									<th>user_name</th>
									<th>password</th>
								</tr>
							</thead>
							<tbody>

								<% data.forEach(function(contract){ %>
									<tr>
										<td>
											<%= contract.contractor_code %>
										</td>
										<td>
											<%= contract.contractor_name %>
										</td>
										<td>
											<%= contract.address %>
										</td>
										<td>
											<%= contract.prefix_code %>
										</td>
										<td>
											<%= contract.proprietor %>
										</td>
										<td>
											<%= contract.owner %>
										</td>
										<td>
											<%= contract.md %>
										</td>
										<td>
											<%= contract.partner %>
										</td>
										<td>
											<%= contract.contractor_mail %>
										</td>
										<td>
											<%= contract.ESI_Code_No %>
										</td>
										<td>
											<%= contract.PF_Code_No %>
										</td>
										<td>
											<%= contract.Contractor_PAN_No %>
										</td>
										<td>
											<%= contract.Contractor_LIN %>
										</td>
										<td>
											<%= contract.Mobile_No %>
										</td>
										<td>
											<%= contract.Name_of_person %>
										</td>
										<td>
											<%= contract.compliance_Mail_id %>
										</td>
										<td>
											<%= contract.hr_department %>
										</td>
										<td>
											<%= contract.sign %>
										</td>
										<td>
											<%= contract.status %>
										</td>
										<td>
											<%= contract.created_by %>
										</td>
										<td>
											<%= contract.created_on %>
										</td>
										<td>
											<%= contract.modified_by %>
										</td>
										<td>
											<%= contract.modified_on %>
										</td>
										<td>
											<%= contract.user_name %>
										</td>
										<td>
											<%= contract.password %>
										</td>
									</tr>

									<% }) %>
							</tbody>
						</table>
						<!--Excel Download Table-->
					</div>
				</div>
			</div>
			<!--Form Start -->
			<br /> <br />
			<div class="card" id="newform" style="margin-top: -25px;max-height: 500px;">
				<div class="card-body">
					<h4 class="card-title" style="margin-top: -15px;">Contractor Master</h4>
					<form class="forms-sample" method="POST" action="/contractor/new" autocomplete="off"
						onsubmit="showAlert()">
						<div style="margin-left: 10px;">
							<div class="form-group row" style="max-height: 30px;align-items: baseline;">
								<label for="Contractor_Code" class="col-form-label">Contractor Code</label>
								<div style="margin-left: 40px;">
									<input type="text" class="form-control" name="Contractor_Code"
										style="max-height: 20px;min-width: 200px;" placeholder="Enter Contractor Code"
										required>
								</div>
							</div>
							<div class="form-group row" style="max-height: 35px;align-items: baseline;">
								<label for="Contractor_Name" class="col-form-label">Contractor Name</label>
								<div style="margin-left: 37px;">
									<input type="text" class="form-control" id="Contractor_Name" name="Contractor_Name"
										placeholder="Contractor Name" required
										style="max-height: 20px;min-width: 200px;">
								</div>
							</div>
							<!-- <div class="form-group row">
							<label for="Address" class="col-sm-3 col-form-label">Principle WorkOrder Number</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="Principle_wo_no" name="Principle_wo_no" 
								placeholder="Principle WorkOrder Number" required />
							</div>
						</div> -->
							<div class="form-group row" style="max-height: 50px;align-items: baseline;">
								<label for="Address" class="col-form-label">Address</label>
								<div style="margin-left: 95px;min-width: 225px;">
									<textarea class="form-control" id="Address" name="Address" placeholder="Address"
										required style="max-height: 90px;"></textarea>
								</div>
							</div>
							<div class="form-group row" style="max-height: 40px;align-items: baseline;">
								<label for="Prefix_Code" class="col-form-label">Prefix Code</label>
								<div style="margin-left: 72px;min-width: 200px;">
									<input type="text" class="form-control" id="Prefix_Code" name="Prefix_Code"
										placeholder="Prefix_Code" required style="max-height: 20px;">
								</div>
							</div>
							<div class="form-group row" style="max-height: 40px;align-items: baseline;">
								<label for="proprietor" class="col-form-label">Proprietor/Owner/MD</label>
								<div class="col-sm-9 row" style="margin-left: -14px;">
									<div style="max-width: 100px;">
										<select class="form-control" id="proprietor" name="proprietor">
											<option selected>--Select proprietor--</option>
											<option>PROPRIETOR</option>
											<option>OWNER</option>
											<option>MD</option>
										</select>
									</div>
									<div style="max-width: 110px; margin-left: 15px;">
										<input type="text" class="form-control" id="name" name="name" placeholder="Name"
											required>
									</div>
								</div>
							</div>

							<div class="form-group row" style="max-height: 30px;align-items: baseline;">
								<label for="Contractor_Email_ID" class="col-form-label">Contractor E-mail
									ID</label>
								<div style="margin-left: 19px;min-width: 200px;">
									<input type="text" class="form-control" id="Contractor_Email"
										style="max-height: 20px;" name="Contractor_Email"
										placeholder="Contractor E-mail ID" required>
								</div>
							</div>

							<div class="form-group row" style="max-height: 30px;align-items: baseline;">
								<label for="ESI_Code_No" class="col-form-label">ESI Code No</label>
								<div style="margin-left: 70px;min-width: 200px;">
									<input type="text" class="form-control" id="ESI_Code_No" name="ESI_Code_No"
										placeholder="ESI Code No" required style="max-height: 20px;">
								</div>
							</div>
							<div class="form-group row" style="max-height: 30px;align-items: baseline;">
								<label for="PF_Code_No" class="col-form-label">PF Code No</label>
								<div style="margin-left: 73px;min-width: 200px;">
									<input type="text" class="form-control" id="PF_Code_No" name="PF_Code_No"
										placeholder="PF Code No" required style="max-height: 20px;">
								</div>
							</div>
						</div>
						<div style="margin-left: 500px;margin-top: -350px;">
							<div class="form-group row" style="max-height: 30px;align-items: baseline;">
								<label for="exampleInputContractor PAN No" class="col-form-label">Contractor
									PAN
									No</label>
								<div style="margin-left: 16px;min-width: 200px;">
									<input type="text" class="form-control" id="Contractor_PAN_No"
										style="max-height: 20px;" name="Contractor_PAN_No"
										placeholder="Contractor PAN No" required>
								</div>
							</div>
							<div class="form-group row" style="max-height: 30px;align-items: baseline;">
								<label for="Contractor_LIN LIN" class="col-form-label">Contractor LIN</label>
								<div style="margin-left: 45px;min-width: 200px;">
									<input type="text" class="form-control" id="Contractor_LIN" name="Contractor_LIN"
										placeholder="Contractor LIN" required style="max-height: 20px;">
								</div>
							</div>
							<div class="form-group row" style="max-height: 30px;align-items: baseline;">
								<label for="Mobile_No" class="col-form-label">Mobile No</label>
								<div style="margin-left: 72px;min-width: 200px;">
									<input type="text" class="form-control" id="Mobile_No" name="Mobile_No"
										placeholder="Mobile No" required style="max-height: 20px;">
								</div>
							</div>
							<div class="form-group row" style="max-height: 40px;align-items: baseline;">
								<label class="col-form-label">Status</label>

								<div style="margin-left: 100px;min-width: 100px;">
									<div class="form-check">
										<label class="form-check-label">
											<input type="radio" class="form-check-input" name="status"
												id="membershipRadios1" value="1" checked required>
											Active </label>
									</div>
								</div>
								<div style="margin-left: -20px;min-width: 100px;">
									<div class="form-check">
										<label class="form-check-label">
											<input type="radio" class="form-check-input" name="status"
												id="membershipRadios2" value="0" required> In Active
										</label>
									</div>
								</div>
							</div>
							<!--<div class="form-group row">
							<label for="Name_of_person" class="col-sm-3 col-form-label">Name of person</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="Name_of_person" name="Name_of_person"
									placeholder="Name of person" required>
							</div>
						</div>-->
							<div class="form-group row" style="max-height: 60px;align-items: baseline;">
								<label style="max-width: 100px;" for="Name_of_person" class="col-form-label">Name Of
									Person Who Is Looking After
									Compliance</label>
								<div style="margin-left: 38px;min-width: 200px;">
									<input type="text" class="form-control" id="compliance_Mail_id"
										name="compliance_Mail_id" style="max-height: 40px;"
										placeholder="Name Of Person Who Is Looking After Compliance" required>
								</div>
							</div>
							<!-- <div class="form-group row">
							<label for="Name_of_person" class="col-sm-3 col-form-label">HR
								Department </label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="hr_department" name="hr_department"
									placeholder="HR Department" required>
							</div>
						</div> -->

							<div class="form-group row" style="max-height: 60px;align-items: baseline;">
								<label for="Name_of_person" class="col-form-label">User Name</label>
								<div style="margin-left: 70px;min-width: 200px;">
									<input type="text" class="form-control" id="username" name="username"
										placeholder="User Name" required style="max-height: 40px;">
								</div>
							</div>

							<div class="form-group row" style="max-height: 60px;align-items: baseline;">
								<label for="Name_of_person" class="col-form-label">Password</label>
								<div style="margin-left: 79px;min-width: 200px;">
									<input type="text" class="form-control" style="max-height: 40px;" id="Password"
										name="Password" placeholder="Password" required>
								</div>
							</div>
						</div>
						<center>
							<button type="submit" class="btn btn-gradient-success btn-fw">Save</button>
						</center>
					</form>
				</div>
			</div>
		</div>
<!-- Footer Page-->
<%- include('../nav/footer') %>


<!--Initial Loading-->
<script type="text/javascript">

	window.onload = function () {
		$(".preload").hide();
		document.getElementById("overlay").style.display = "block";
		document.getElementById("newform").style.display = "none";
		document.getElementById("backbutton").style.display = "none";

	};

	function addContractor(a) {

		if (a == 1) {
			document.getElementById("backbutton").style.display = "block";
			document.getElementById("newform").style.display = "block";
			document.getElementById("table").style.display = "none";
			document.getElementById("addbutton").style.display = "none";
			document.getElementById("excel_div").style.display = "none";
			document.getElementById("uploadbutton").style.display = "none";
		}
		else if(a == 2) {
			document.getElementById("table").style.display = "block";
			document.getElementById("addbutton").style.display = "block";
			document.getElementById("backbutton").style.display = "none";
			document.getElementById("newform").style.display = "none";
			location.reload();
		}
	}

	//function backContractor() {
</script>

<!--Show alert-->
<script>
	function showAlert() {
		alert("Contractor Details Saved Successfully");
		location.reload();
	}
</script>

<!--Table Sort-->
<script>
	(function(document) {
		'use strict';

		var TableFilter = (function(myArray) {
			var search_input;

			function _onInputSearch(e) {
				search_input = e.target;
				var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
				myArray.forEach.call(tables, function(table) {
					myArray.forEach.call(table.tBodies, function(tbody) {
						myArray.forEach.call(tbody.rows, function(row) {
							var text_content = row.textContent.toLowerCase();
							var search_val = search_input.value.toLowerCase();
							row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
						});
					});
				});
			}

			return {
				init: function() {
					var inputs = document.getElementsByClassName('search-input');
					myArray.forEach.call(inputs, function(input) {
						input.oninput = _onInputSearch;
					});
				}
			};
		})(Array.prototype);

		document.addEventListener('readystatechange', function() {
			if (document.readyState === 'complete') {
				TableFilter.init();
			}
		});

	})(document);
</script>

<!--Ecxel Download -->
<script>
	function ExportToExcel(tableid) {
			var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
			var textRange; var j = 0;
			tab = document.getElementById(tableid);//.getElementsByTagName('table'); // id of table
			if (tab==null) {
				return false;
			}
			if (tab.rows.length == 0) {
				return false;
			}

			for (j = 0 ; j < tab.rows.length ; j++) {
				tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
				//tab_text=tab_text+"</tr>";
			}

			tab_text = tab_text + "</table>";
			tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
			tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
			tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

			var ua = window.navigator.userAgent;
			var msie = ua.indexOf("MSIE ");

			if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
			{
				txtArea1.document.open("txt/html", "replace");
				txtArea1.document.write(tab_text);
				txtArea1.document.close();
				txtArea1.focus();
				sa = txtArea1.document.execCommand("SaveAs", true, "Employee.xls");
			}
			else                 //other browser not tested on IE 11
				//sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));
				try {
					var blob = new Blob([tab_text], { type: "application/vnd.ms-excel" });
					window.URL = window.URL || window.webkitURL;
					link = window.URL.createObjectURL(blob);
					a = document.createElement("a");
					if (document.getElementById("caption")!=null) {
						a.download=document.getElementById("caption").innerText;
					}
					else
					{
						a.download = 'contractor_master_details';
					}

					a.href = link;

					document.body.appendChild(a);

					a.click();

					document.body.removeChild(a);
				} catch (e) {
				}


			return false;
			//return (sa);
		}
</script>