<%- include ('../nav/header') %>
<!-- Sidebar Page -->
<%- include('../nav/sidebar') %>
<!--Loading Images-->
<div class="preload loading_position">
	<img src="assets/loading/Hourglass.gif">
</div>
<div id="overlay">
    <div class="col-lg-12 grid-margin stretch-card" id="table">
		<div class="card overflow-x overflow-y-hidden">
			<div class="card-body">
				<h4 >Payroll Close</h4><br/><br/>
				<form class="form-inline">
					<% Month.forEach(function(Monthlist)  {   %>
					<div class="form-group row">
						<div class="col-sm-3">
						   <h2 class="card-title">Month</h2>
						</div>
						<div class="col-sm-5">
							<%  if(Monthlist.month=='1'){ 
									month="January"; 
								}else if(Monthlist.month=='2'){
									month="February"; 
								}else if(Monthlist.month=='3'){
									month ="March";
								}else if(Monthlist.month=='4'){
									month = "April";
								}else if(Monthlist.month=='5'){
									month ="May";
								}else if(Monthlist.month=='6'){
									month ="June";
								}else if(Monthlist.month=='7'){
									month ="July";
								}else if(Monthlist.month=='8'){
									month ="August";
								}else if(Monthlist.month=='9'){
									month ="September";
								}else if(Monthlist.month=='10'){
									month ="October";
								}else if(Monthlist.month=='11'){
									month ="November";
								}else if(Monthlist.month=='12'){
									month ="December";
								}
							%>
							<%= month+'-'+Monthlist.year %>  
						</div>
						<div class="col-sm-4">
							<input type="hidden" value="<%= Monthlist.month %>" id="payroll_id">
						  <input type="button"  class="btn btn-gradient-primary mb-2" value="Payroll Close" onclick="payroll_close()">
						</div>
					</div>
					<%  }) %>
				</form>
				<br/><br/>
			</div>
		</div>
	</div>
</div>	
<!-- Footer Page-->
<%- include('../nav/footer') %>

	<!--Initial Loading-->
	<script type="text/javascript">
	
		window.onload = function () {
			$(".preload").hide();
			document.getElementById("overlay").style.display = "block";
		};
	</script>

	  <!--insert payroll-->
	  <script>
		 
		function payroll_close()
		{

			
			var month = document.getElementById("payroll_id").value;
			alert(month)
			
			$.ajax({
			type: 'POST',
			url: '/payroll/close',
			data: { month: month },
			success: function(data)
			{
				//console.log(data)
				alert("Payroll cloased Successfully");
				//$('#payroll_view').html(data);
			}
			});
		}
	</script>