<%- include ('../nav/header') %>
	<!-- Sidebar Page -->
	<%- include('../nav/sidebar') %>
		<style>
			table {
				text-align: left;
			}

			table th {
				color: black;
				border: 1px solid black !important;
			}

			table td {
				border: 1px solid black !important;
			}

			lable {
				font-weight: normal;
				font-family: auto;
			}

			.sig {
				color: black;
			}
		</style>
		<!--Loading Images-->
		<div class="preload loading_position">
			<img src="assets/loading/Hourglass.gif">
		</div>
		<div id="overlay" class="overlayaligns">
			<div class="col-lg-12 grid-margin stretch-card" id="table">
				<div class="card tablecard">
					<div class="card-body">
						<div class="card-body">
							<h4 class="card-title titlealigns">Wageslip 1</h4>
							<form class="form-inline">
								<input list="contract_code" class="form-control" name="contract_code_data" id="contract_code_data">
								<datalist id="contract_code">
									<% conDetailsCode.forEach(function(contractorlist){ %>
										<option value="<%= contractorlist.contractor_code+'-'+contractorlist.contractor_name %>">
										</option>
										<%})%>
								</datalist>
								&nbsp;
								<label class="sr-only" for="from_date">Month</label>
								<select class="form-control mb-2 mr-sm-2" name="month_data" id="month_data"
									placeholder="Select Month">
									<option value="">Select Month</option>
									<% MonthDetails.forEach(function(Monthlist) { %>
										<option value="<%= Monthlist.MONTH+'-'+Monthlist.YEAR%>">
											<%= Monthlist.MONTH+'-'+Monthlist.YEAR %>
										</option>
										<% }) %>
								</select>
								<input type="button" class="btn btn-gradient-primary mb-2" value="Go"
									onClick="get_form_b_wage_data()">
							</form>

						</div>

						<div class="col-sm-12 text-right">

							<div class="w3-show-inline-block">
								<div class="w3-bar dis-none" id="btn_show">
									<button type="button" class="btn btn-gradient-info btn-icon-text"
										onclick="printDiv('wage_slip_Details')"> Print <i
											class="mdi mdi-printer btn-icon-append"></i>
									</button>

									<a href="#" id="test" onclick="fnExcelReport();"
										class="btn btn-success btn-sm h-2p5_rem p-12">
										<span class="glyphicon glyphicon-download-alt"></span>
										Export to Excel</a>
								</div>
							</div>
						</div>
						<!--Loading Images-->
						<div class="preload loading_position">
							<img src="assets/loading/Hourglass.gif">
						</div>
						<div class="col-lg-12 grid-margin stretch-card" id="table">
							<div class="card">
								<div class="card-body">
									<div class="wageDetails" id="wage_slip_Details">
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Page-->
		<%- include('../nav/footer') %>

			<!--Initial Loading-->
			<script type="text/javascript">
				window.onload = function () {
					$(".preload").hide();
					document.getElementById("overlay").style.display = "block";
				};
			</script>

			<!--Table Append-->
			<script>
				function get_form_b_wage_data() {
					$(".preload").show();
					document.getElementById('btn_show').style.display = 'block';
					var ccode = document.getElementById("contract_code_data").value;
					var month = document.getElementById("month_data").value;
					//alert(ccode);

					var payroll = month.split("-");
					var payroll_month = payroll[0];
					var payroll_year = payroll[1];

					if (payroll_month == '1') {
						var month_str = "January";
					} else if (payroll_month == '2') {
						var month_str = "February";
					} else if (payroll_month == '3') {
						var month_str = "March";
					} else if (payroll_month == '4') {
						var month_str = "April";
					} else if (payroll_month == '5') {
						var month_str = "May";
					} else if (payroll_month == '6') {
						var month_str = "June";
					} else if (payroll_month == '7') {
						var month_str = "July";
					} else if (payroll_month == '8') {
						var month_str = "August";
					} else if (payroll_month == '9') {
						var month_str = "September";
					} else if (payroll_month == '10') {
						var month_str = "October";
					} else if (payroll_month == '11') {
						var month_str = "November";
					} else if (payroll_month == '12') {
						var month_str = "December";
					}

					$.ajax({
						method: 'POST',
						url: '/pay_roll/wage_slip_view',
						data: { ccode: ccode, month: month },
						success: function (data) {
							$(".preload").hide();
							//console.log(data);
							$('.wageDetails').empty();
							var i = 1;
							$.each(data, function (index, wage_details) {
								$('.wageDetails').append(`
							<center>
								<h5>FORM XIX</br>
								<lable>[See Rule 78(1)(b)]</lable><br/>
								The Contract Labour (Regulation & Abolition) Central Rules, 1971</br>
								Wage Slip</h5>
								</center>
								<table class="table table-bordered"><thead><tr>
								</tr>
								<tr>
								<th colspan ='2'>Name & Address of the Contractor :</th>
								<td>${wage_details.con_name}</td>
								</tr>
								<tr>
								<th colspan ='2'>Nature and location of Work :</th>
								<td></td>
								</tr>
								<tr>
								<th colspan ='2'>Name and Father's/Husband's name of the workman :</th>
								<td>${wage_details.emp_name}</td>
								</tr>
								<tr>
								<th colspan ='2'>For the Week / Fortnight / Month ending :</th>
								<td>${month_str} - ${payroll_year}</td>
								</tr>
								</thead>
								<tbody>
								<tr>
								<th>1</th>
								<th>No of days worked</th>
								<td>${wage_details.no_of_days}</td>
								</tr>
								<tr>
								<th>2</th>
								<th>No. of units worked in case of piece rate workers</th>
								<td></td>
								</tr>
								<tr>
								<th>3</th>
								<th>Rate of daily wages/Piece rate</th>
								<td>${wage_details.pd_wages}</td>
								</tr>
								<tr>
								<th>4</th>
								<th>Basic Wages</th>
								<td>${wage_details.basic}</td>
								</tr>
								<tr>
								<th>5</th>
								<th>Other Allowance</th>
								<td>${wage_details.pd_allow}</td>
								</tr>
								<tr>
								<th>6</th>
								<th>Incentive</th>
								<td>${wage_details.pd_incen}</td>
								</tr>
								<tr>
								<th>7</th>
								<th>Arrear Basic</th>
								<td>${wage_details.pd_incen}</td>
								</tr>
								<tr>
								<th>8</th>
								<th>Misc.Credit</th>
								<td>0</td>
								</tr>
								<tr>
								<th>9</th>
								<th>OT Amount</th>
								<td>0</td>
								</tr>
								<tr>
								<th>10</th>
								<th>Gross</th>
								<td>${wage_details.gross_salary}</td>
								</tr>
								<tr>
								<th class="fs-l text-center" colspan='3'>Deduction, if any</th>
								</tr>
								<tr>
								<th>11</th>
								<th>PF</th>
								<td>${wage_details.pf_amount}</td>
								</tr>
								<tr>
								<th>12</th>
								<th>ESI</th>
								<td>${Math.round(wage_details.esi_amount)}</td>
								</tr>
								<tr>
								<th>13</th>
								<th>LWF</th>
								<td>0</td>
								</tr>
								<tr>
								<th>14</th>
								<th>PTax</th>
								<td>${wage_details.ptf_amount}</td>
								</tr>
								<tr>
								<th>15</th>
								<th>Misc.Deduction</th>
								<td>${wage_details.salary_advance}</td>
								</tr>
								<tr>
								<th>16</th>
								<th>Total Deduction</th>
								<td>${Math.round(wage_details.total_deduction)}</td>
								</tr>
								<tr>
								<th>17</th>
								<th>Net amount of wages paid</th>
								<td>${Math.round(wage_details.net_pay)}</td>
								</tr>
								</tbody></table>
								<br/><br/><br/>
								<div class='sig'>
								<lable class='text-left'>Signature of the Individual</lable>
								<lable class='f-r'>Initials of the Contractor or his Representative</lable>
								</div>
								<div style="page-break-after:always;"></div>
								`
								);
							});
						}
					});
				}
			</script>

			<!--Excel Download-->
			<script>
				function fnExcelReport() {
					var tab_text = '<html xmlns:x="urn:schemas-microsoft-com:office:excel">';
					tab_text = tab_text + '<head><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet>';
					tab_text = tab_text + '<x:Name>Test Sheet</x:Name>';
					tab_text = tab_text + '<x:WorksheetOptions><x:Panes></x:Panes></x:WorksheetOptions></x:ExcelWorksheet>';
					tab_text = tab_text + '</x:ExcelWorksheets></x:ExcelWorkbook></xml></head><body>';
					tab_text = tab_text + "<table border='1px'>";

					// Remove Dynamic hidden controls.
					var list = $('#wage_slip_Details').find('.ng-hide');
					for (var i = list.length - 1; 0 <= i; i--) {
						if (list[i] && list[i].parentElement) {
							list[i].parentElement.removeChild(list[i]);
						}
					}

					// Getting dynamic controll values.
					var list = $('#wage_slip_Details').find('.dvItems');
					var values = "";
					for (var i = 0; i <= list.length - 1; i++) {
						if (list[i] && list[i].parentElement) {
							values += $(list[i]).text().trim();
						}
					}
					for (var i = 0; i <= list.length - 1; i++) {
						if (i == 0) {
							// Replace last comma and assign value.
							$($('#wage_slip_Details').find('.dvItems')[i]).text(values.replace(/,\s*$/, ""));
						}
						else {
							$($('#wage_slip_Details').find('.dvItems')[i]).text("");
						}
					}
					tab_text = tab_text + $('#wage_slip_Details').html();
					tab_text = tab_text + '</table></body></html>';
					var data_type = 'data:application/vnd.ms-excel';
					var ua = window.navigator.userAgent;
					var msie = ua.indexOf("MSIE ");

					if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
						if (window.navigator.msSaveBlob) {
							var blob = new Blob([tab_text], {
								type: "application/vnd.ms-excel;charset=utf-8;"
							});
							navigator.msSaveBlob(blob, 'Coupon.xls');
						}
					} else {
						window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));
					}
				}
			</script>

			<!--print funtion-->
			<script>
				function printDiv(wage_slip_Details) {
					var mywindow = window.open('', 'PRINT', 'height=400,width=600');

					mywindow.document.write('<html><head><title>' + 'FORM D ATTENDANCE' + '</title>');
					mywindow.document.write('<style>table {width : 100%;border-collapse: collapse !important;text-align: left;}table th {color: black;border: 1px solid black;}table td {border: 1px solid black;}lable{font-weight: normal;font-family: auto;}.text-center{text-align: center}.sig {color: black;}.text-left {text-align : left}.f-r {float: right}</style></head><body >');
					//mywindow.document.write('<h1>' + document.title + '</h1>');
					mywindow.document.write(document.getElementById(wage_slip_Details).innerHTML);
					mywindow.document.write('</body></html>');

					mywindow.document.close(); // necessary for IE >= 10
					mywindow.focus(); // necessary for IE >= 10*/

					mywindow.print();
					mywindow.close();

					return true;
				}
			</script>