<%- include ('../nav/header') %>
	<!-- Sidebar Page -->
	<%- include('../nav/sidebar') %>
<!--Form Data-->
<div class="card" id="newform">
    <div class="card-body">

        <h4 class="card-title">Contractor Pass Request View</h4>

        <!--From Start-->

        <div class="card-body">
            <% employee_details.forEach(function(pass_detail){ %>
            <form class="forms-sample" method="GET" action="/pass_approve/approve">
             

                <div class="form-group row">
                    <label for="ccode" class="col-sm-3 col-form-label">Contractor Code</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="contractor_code" name="ccode" value="<%= pass_detail.contractor_code %>" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cname" class="col-sm-3 col-form-label">Contractor name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="cname" name="cname" value="<%= pass_detail.contractor_name %>" readonly >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="workorder_no" class="col-sm-3 col-form-label">Workorder No</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="workorder_no" name="workorder_no" value="<%= pass_detail.work_order_no %>" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pass_from" class="col-sm-3 col-form-label">Pass Request From</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="pass_from" name="pass_from" value="<%= moment(pass_detail.pass_request_from).format('D-M-Y') %>"
                        readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pass_to" class="col-sm-3 col-form-label">Pass Request To</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="pass_to" name="pass_to" value="<%= moment(pass_detail.pass_request_to).format('D-M-Y') %>"
                        readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="no_of_pass" class="col-sm-3 col-form-label">Number Of Pass</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="no_of_pass" name="no_of_pass" value="<%= pass_detail.req_pass_count %>"
                        readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="no_of_pass" class="col-sm-3 col-form-label">Nature Of Jobs</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="nature_of_jobs" name="nature_of_jobs" value="<%= pass_detail.job_nature %>"
                        readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="no_of_pass" class="col-sm-3 col-form-label">Job Completion Date</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="job_completion_date" name="job_completion_date"  value="<%= moment(pass_detail.completion_date).format('D-M-Y') %>"
                        readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="no_of_pass" class="col-sm-3 col-form-label">Contractor SAP No</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="contractor_sap_no" name="contractor_sap_no" value="<%= pass_detail.cont_sap_no %>"
                        readonly>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="pass_type" class="col-sm-3 col-form-label">Pass Type</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="pass_type" name="pass_type" value="<%= pass_detail.pass_type %>"
                        readonly>
                    </div>
                </div>

                <div class="card-body overflow-x">
                <!--Table Start-->

                <table class="table table-bordered"> 				
                    <thead>
                        <tr>
                            <th>Ename</th>
                            <th>Ecode</th>
                            <th>Name Of The Contract Worker</th>
                            <th>Father 'S / Huspand Name</th>
                            <th>Residential Address</th>
                            <th>Age / Sex</th>
                            <th>Work Spot</th>
                            <th>Safety Pass Validity From</th>
                            <th>Safety Pass Validity To</th>
                            <th>Work Order Number</th>
                            <th>Work Order Date</th>
                           <!--  <th>Check</th> -->
                        </tr>
                    </thead>
                    <tbody>

                        <% con_detail.forEach(function(emp_details) { %>

                            <tr>
                                <input type="hidden" value="<%= emp_details.CCODE %>" name="ccode">
                                <input type="hidden" value="<%= emp_details.ECODE %>" name="ecode">
                                <td><%= emp_details.ENAME %></td>
                                <td><%= emp_details.ECODE %></td>
                                <td><%= emp_details.contractor_name%></td>
                                <td><%= emp_details.FATHER %></td>
                                <td><%= emp_details.PRE_ADDRESS %></td>
                                <td><%= emp_details.GENDER %></td>
                                <td><%= emp_details.WROK_SPOT %></td>
                                <td><%= moment(emp_details.SAFETY_TRAINING_FROM ).format('DD-MM-Y') %></td>
                                <td><%= moment(emp_details.SAFETY_TRAINING_TO ).format('DD-MM-Y') %></td>
                                <td><%= emp_details.WORK_ORDER_No %></td>
                                <td><%= moment(emp_details.WORK_OR_DATE ).format('DD-MM-Y') %></td>
                                
                                <td>
                                    <div class="form-check m-t-0">
                                        <label class="form-check-label">
                                            <!-- <input type="checkbox" class="form-check-input" onchange="getEmpdetails('<%= emp_details.CCODE %>')">--></label> 
                                    </div>
                                </td>
                            </tr>

                            <% }) %> 

                    </tbody>
                </table>
                <!--Table End-->
                </div>
                <br/><br/>
                <button type="submit" class="btn btn-gradient-primary mb-2 f-r">Approve</button>

            </form>
           
            <% }) %> 
        </div>
        <!--From Start-->
    </div>
</div>


		<!-- Footer Page-->
		<%- include('../nav/footer') %>


    <script>
        function getEmpdetails(ccode) {
            alert(ccode);
            $.ajax({
				url: '/pass_req_new_1/add',
				type: 'POST',
				data: { "ccode": ccode }
			}).done(function (response) {
				//callback to handle if it's successful
			})
        }
    </script>