<%- include ('../nav/header') %>
  <!-- Sidebar Page -->
  <%- include('../nav/sidebar') %>

  <!--Loading Images-->
  <div class="preload loading_position">
    <img src="assets/loading/Hourglass.gif">
  </div>
 
  <div id="overlay" class="overlayaligns">
    <button type="button" class="btn btn-gradient-primary btn-rounded btn-fw m-b-20" id="addbutton"
      onclick="addContractor(1)">
      New</button>
    <button type="button" class="btn btn-gradient-danger btn-fw f-r b-r-25 dis-none" id="backbutton"
      onclick="addContractor(2)">Back</button>
    <!--Upload Excel-->
    <div class="card cardalign" id="excel_div">
      <div class="card-body cardinside">
        <a href="/gate_master_excell_download">Download Template</a></p>
        <section id="upload-data-panel" class="sectionalign">
          <form id="upload-form" action="/excel_upload/gate_data" method="post" enctype="multipart/form-data">
            <fieldset>
              <legend>Upload Data</legend>
              <div class="uploadalign">
                <!-- The name here is important, and will be used later to reference the data -->
                <input type="file" name="csvdata" accept="text/cvs">
              </div>
              <div class="uploadbtnalign">
                <input type="submit" class="btn btn-gradient-danger btn-icon-text" value="Upload" />
              </div>
            </fieldset>
          </form>
        </section>
      </div>
    </div>
    <br />
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card tablecard" id="table">
        <div class="card-body">
          <h4 class="card-title titlealign">Gate Master</h4>

          <div class="form-group">
            <!--Search Filter-->
            <input type="search" placeholder="Search Here" class="form-control search-input searchalign"
              data-table="customers-list" />
          </div>

          <table class="table table-class mt32 customers-list" id="table-id">
            <thead>
              <tr>
                <!-- <th>user</th> -->
                <th> Name </th>
                <th> Status </th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>

              <% data.forEach(function(gate) { %>
                <tr>
                  <!-- <td>
                  <%= gate.id %>
                </td> -->
                  <td>
                    <%= gate.name %>
                  </td>
                  <% if(gate.status=='1' ){ status="Active" ; }else{ status="InActive" ; } %>
                    <td>
                      <label class="badge badge-danger">
                        <%= status %>
                      </label>
                    </td>
                    <td>
                      <a href="gate_edit/<%= gate.id %>" class="btn btn-sm btn-primary">Edit</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!--Form Start-->
    <div class="card cardsss" id="newform">
      <div class="card-body">
        <h4 class="card-title">Gate Master</h4>
        <form class="forms-sample" method="POST" action="/gate/new" onsubmit="showAlert()">
          <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" name="name" placeholder="name">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Status</label>
            <div class="col-sm-4">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="status" id="status1" value="1" checked> Active
                </label>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="status" id="status2" value="2"> In Active
                </label>
              </div>
            </div>
          </div>

          <center>
            <input type="submit" value="Save" class="btn btn-gradient-success btn-fw" />
          </center>
        </form>
      </div>
    </div>
  </div> 
<!-- Footer Page-->
<%- include('../nav/footer') %>

<script type="text/javascript">

  window.onload = function () {
    $(".preload").hide();
		document.getElementById("overlay").style.display = "block";
    document.getElementById("newform").style.display = "none";

  };

  function addContractor(a) {

    if (a == 1) {
      document.getElementById("newform").style.display = "block";
      document.getElementById("table").style.display = "none";
      document.getElementById("addbutton").style.display = "none";
      document.getElementById("excel_div").style.display = "none";
      document.getElementById("backbutton").style.display = "block";
    }
    else if( a == 2) {
      location.reload();
    }

  }
</script>

<!--Table Sort-->
<script>
	(function(document) {
		'use strict';

		var TableFilter = (function(myArray) {
			var search_input;

			function _onInputSearch(e) {
				search_input = e.target;
				var tables = document.getElementsByClassName(search_input.getAttribute('data-table'));
				myArray.forEach.call(tables, function(table) {
					myArray.forEach.call(table.tBodies, function(tbody) {
						myArray.forEach.call(tbody.rows, function(row) {
							var text_content = row.textContent.toLowerCase();
							var search_val = search_input.value.toLowerCase();
							row.style.display = text_content.indexOf(search_val) > -1 ? '' : 'none';
						});
					});
				});
			}

			return {
				init: function() {
					var inputs = document.getElementsByClassName('search-input');
					myArray.forEach.call(inputs, function(input) {
						input.oninput = _onInputSearch;
					});
				}
			};
		})(Array.prototype);

		document.addEventListener('readystatechange', function() {
			if (document.readyState === 'complete') {
				TableFilter.init();
			}
		});

	})(document);
</script>

<!--Show Alert-->
<script>
  function showAlert() {
      alert("Gate Details Successfully Inserted");
      //location.reload();
  }
</script>