<%- include ('../nav/header') %>
  <!-- Sidebar Page -->
  <%- include('../nav/sidebar') %>
    <a type="button" class="btn btn-gradient-danger btn-fw m-b-20 b-r-25" id="addbutton"
    href="/Engineer">Back</a>
    <div class="card tablecard" id="table">
      <div class="card-body">
        <div class="container">

          <h4 class="card-title titlealign">Engineer Master Edit</h4>

          <% Engineer_edit_data.forEach(function(Engineer_edit_data) { %>

            <form action="/update" method="POST" onsubmit="showAlert()">
              <input type="hidden" value="<%= Engineer_edit_data.id %>" name="id">

              <div class="form-group row" style="max-height: 45px;align-items: baseline;">
                <label for="exampleInputEIC PRNO" class="col-sm-3 col-form-label">EIC Salutation</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="eic_saluation" name="eic_saluation" style="max-height: 40px;"
                    value="<%= Engineer_edit_data.eic_saluation %>" placeholder="EIC Salutation">
                </div>
              </div>

              <div class="form-group row" style="max-height: 45px;align-items: baseline;">
                <label for="exampleInputEIC PRNO" class="col-sm-3 col-form-label">EIC PRNO</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="eic_prno" name="eic_prno" style="max-height: 40px;"
                    value="<%= Engineer_edit_data.EIC_PRNO %>" placeholder="EIC PRNO">
                </div>
              </div>

              <div class="form-group row" style="max-height: 45px;align-items: baseline;">
                <label for="exampleInputName" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="name" name="name" value="<%= Engineer_edit_data.name %>"
                    placeholder="Name" style="max-height: 40px;">
                </div>
              </div>
              <div class="form-group row" style="max-height: 45px;align-items: baseline;">
                <label for="exampleInputDepartment" class="col-sm-3 col-form-label">Department</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="department" name="department" style="max-height: 40px;"
                    value="<%= Engineer_edit_data.department %>" placeholder="Department">
                </div>
              </div>
              <div class="form-group row" style="max-height: 45px;align-items: baseline;">
                <label for="exampleInputDesignation" class="col-sm-3 col-form-label">Designation</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="designation" name="designation" style="max-height: 40px;"
                    value="<%= Engineer_edit_data.designation %>" placeholder="Designation">
                </div>
              </div>
              <div class="form-group row" style="max-height: 45px;align-items: baseline;">
                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="email" name="email" style="max-height: 40px;"
                    value="<%= Engineer_edit_data.email %>" placeholder="Username">
                </div>
              </div>
              <div class="form-group row" style="max-height: 45px;align-items: baseline;">
                <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="mobile" name="mobile" style="max-height: 40px;"
                    value="<%= Engineer_edit_data.mobile %>" placeholder="Mobile">
                </div>
              </div>
              <div class="form-group row" style="max-height: 45px;align-items: baseline;">
                <label class="col-sm-3 col-form-label">Status</label>
                <div class="col-sm-4">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="hidden" value="<%= Engineer_edit_data.status %>" id="STATUS" />
                      <input type="radio" class="form-check-input" name="status" id="status1" value="1">
                      Active </label>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="form-check">
                    <label class="form-check-label">

                      <input type="radio" class="form-check-input" name="status" id="status2" value="2">
                      Inactive </label>
                  </div>
                </div>
              </div>
              <center>
                <button type="submit" class="btn btn-primary">Update</button>
              </center>
            </form>

            <% }) %>

        </div>

      </div>
    </div>

<!-- Footer Page-->
<%- include('../nav/footer') %>

<!--Show Alert-->
<script>
  //Status
  var status = document.getElementById("STATUS").value;
        if (status == 1) {
            document.getElementById("status1").checked = true;
        }else if (status == 2) {
            document.getElementById("status2").checked = true;
        }else if(status == 0 ){
            document.getElementById("status2").checked = true;
        }else if(status == '' || status == 'NULL'){
            document.getElementById("status1").checked = false;
            document.getElementById("status2").checked = false;
        }
  function showAlert() {
      alert("Engineer Details Successfully Updated");
  }
</script>
